# Add configuration values here, as shown below.

development:
    POSTGRESQL_PASSWORD: 0000
    
    GITHUB_KEY: 0000
    GITHUB_SECRET: 0000

    HEROKU_OAUTH_ID: 0000
    HEROKU_OAUTH_SECRET: 0000

production:
    GITHUB_KEY: 0000
    GITHUB_SECRET: 0000

    HEROKU_OAUTH_ID: 0000
    HEROKU_OAUTH_SECRET: 0000
